{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'kobosh/hero_image.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'kobosh/style.css' %}">
</head>
<body>
    <nav>
        <div class="burger">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="logo">
          <h2>BOKOSH</h2>
        </div>
  
        <ul>
          <li style="cursor: pointer;" onclick='location.href="{% url 'kobosh:home' %}"' | escapejs >HOME</li>
          <li style="cursor: pointer;" onclick='location.href="{% url 'kobosh:cate' %}"' | escapejs>ALL CATEGORIES</li>
          <li style="cursor: pointer;">PAYMENTS</li>

        </ul>
        <form id="search-form" action="{% url 'cart:search' %}" method="get">
          {% csrf_token %}
            <input type="search" name="query" id="search-input" placeholder="Search Products" />
        </form>
        <div class="icons">
          <i class="fa-solid fa-magnifying-glass" id="search"></i>
          <img onclick='location.href="{% url 'members:login_user' %}"' | escapejs src="{% static 'kobosh/profile.png' %}" alt="profile" id="profile" />
          <img onclick='location.href="{% url 'cart:cart_detail' %}"' | escapejs src="{% static 'kobosh/cart.png' %}" id="cart" alt="cart" />
        </div>
      </nav>
      



      {% block 'content' %}



      {% endblock %}


      <footer>
        <div class="foot_head">
          <div class="logo">
            <h2>BOKOSH</h2>
          </div>
          <div class="newsletter">
            <h3>We love to keep you updated with our new offers</h3>
            <h2>Subscribe to our newsletter now!</h2>
            <form action="">
              <i class="fa-solid fa-envelope" id="new_mail"></i>
              <input type="email" placeholder="Enter Your Email" />
              <input type="submit" value="SUBSCRIBE NOW" />
            </form>
          </div>
        </div>
        <div class="foot_bottom">
          <div class="bt_left">
            <h3>CATEGORIES LINKS</h3>
            <hr>
            <ul>
              <li><a href=".">Men Collection</a></li>
              <li><a href=".">Women Collection</a></li>
              <li><a href=".">Kids Collection</a></li>
              <li><a href=".">Fashion Accessories</a></li>
              <li><a href=".">Other Categories</a></li>
            </ul>
  
            <ul class="right">
              <li><a href=".">Phones & Gadgets</a></li>
              <li><a href=".">Laptops & Accessories</a></li>
              <li><a href=".">TV & Electronics</a></li>
              <li><a href=".">Home Appliances</a></li>
              <li><a href=".">Furniture & Beddings</a></li>
            </ul>
          </div>
          <div class="bt_middle">
            <h3>OTHER LINKS</h3>
            <hr />
            <ul>
              <li><a href=".">Home</a></li>
              <li><a href=".">About Us</a></li>
              <li><a href=".">Shop</a></li>
              <li><a href=".">Account</a></li>
              <li><a href=".">Terms & Conditions</a></li>
            </ul>
          </div>
          <div class="bt_right">
            <h3>HOW CAN BOKOSH HELP YOU</h3>
            <hr />
            <ul>
              <li><a href=".">Delivery Anywhere in Nigeria</a></li>
              <li><a href=".">Shopping Online</a></li>
              <li><a href=".">Return & Refund Policy</a></li>
              <li><a href=".">Report a Problem</a></li>
              <li><a href=".">Our Offices & Warehouse</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <hr id="last_hr" />
      <div class="payment">
        <h3>PAYMENTS METHODS</h3>
        <h2>CONNECT WITH US</h2>
        <div class="socials">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
        <!-- <img src="" alt="">
          <img src="" alt="">
          <img src="" alt=""> -->
      </div>
      <div class="copyright">
        <p>Copyright &copy; Bokosh 2023</p>
  
        <i
          onclick="location.href='#cont'"
          class="fa-solid fa-arrow-up"
          id="arrow"
        ></i>
      </div>

    
    <script src="https://kit.fontawesome.com/9da17deac8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'kobosh/scripts.js' %}"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var input = document.getElementById("search-input");
          var resultsContainer = document.getElementById("search-results");
      
          input.addEventListener("input", function() {
              var query = input.value;
      
              if (query.trim().length > 0) {
                  fetch("/search/?query=" + encodeURIComponent(query))
                      .then(function(response) {
                          return response.json();
                      })
                      .then(function(data) {
                          displayResults(data);
                      });
              } else {
                  resultsContainer.innerHTML = "";
              }
          });
      
          function displayResults(results) {
              var html = "";
      
              results.forEach(function(result) {
                  html += "<div>" + result.title + "</div>";  // Customize based on your model
      
                  // Append additional data or customize the result display as needed
              });
      
              resultsContainer.innerHTML = html;
          }
      });
      </script>
      

</body>
</html>