{% extends 'kobosh/base.html' %}

{% block 'content' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Category</title>
</head>




<head>
  <link rel="stylesheet" href="{% static 'kobosh/cate.css' %}">

</head>

<body>




  <div class="all_page">
    <div class="left_side">

      <div class="burger">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div id="">
        <ul class="links">
          <h1>Categories</h1>
          <hr />
          <a href="{% url 'kobosh:cate' %}">All</a>
          {% for c in categories %}
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>

          {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="all">
      {% for c in categories %}
      <h2 id="men">{{ c.name }}</h2>
      {% for product in c.products.all %}
      <div class="prod" onclick="location.href='{{ product.get_absolute_url }}'">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% 
          static "img/no_image.png" %}{% endif %}" alt="" />
        <h3>{{ product.name }}</h3>
        <p><strong> NGN {{ product.price }}</strong></p>
        <button>Add to Cart</button>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>

  <script>
    btn = document.querySelector('.burger');
    body = document.querySelector("body")
    navlist = document.querySelector("ul");

    bod = document.querySelector("#head");

    btn1 = document.querySelector(".burger1");

    btn.addEventListener("click", () => {
      navlist.classList.toggle("clipped").checked;
    });
    ul = document.getElementById("hamburger");

    ul.addEventListener("click", () => {
      navlist.classList.toggle("clipped").checked = false;
    });
  </script>
  <script>
    let section = document.querySelectorAll('.prod');
    let lists = document.querySelectorAll('a');
    function activeLink(li) {
      lists.forEach((item) => item.classList.remove('active'));
      li.classList.add('active');
    }
    lists.forEach((item) =>
      item.addEventListener('click', function () {
        activeLink(this);
      }));

    window.onscroll = () => {
      section.forEach(sec => {
        let top = window.scrollY;
        let offset = sec.offsetTop;
        let height = sec.offsetHeight;
        let id = sec.getAttribute('id');

        if (top >= offset && top < offset + height) {
          const target = document.querySelector(`[href='#${id}']`).parentElement;
          activeLink(target);
        }
      })
    };
  </script>

  <script src="https://kit.fontawesome.com/9da17deac8.js" crossorigin="anonymous"></script>


</body>

</html>
{% endblock %}
